@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* 

  font-family: "Noto Sans KR", sans-serif;
  font-weight: <weight>;

  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;

font-family: "Jersey 25 Charted", sans-serif;
font-family: "Playfair Display", serif; 
*/

.container{
  margin: 0 auto;
  max-width: 1140px;
}
.btnTypeDefault{
  border: 1px solid #fff;
  backdrop-filter:blur(8px);
  color: #fff;
}
.btnTypeW{
  color: #83039a;
  background-color: #fff;
}
.btnLg{
  width: 260px;
  padding: 15px 0;
}

.topTenSlide {
  height: 180px;
  .slick-list{
    .slick-track{
      display: flex;
      align-items: center;
      .slick-center{
        > div > div{
          width: 175px !important;
          span{
            height: 175px !important;
            width: 175px !important;
            opacity: 1;
          }
          p{
            font-weight: 600;
            color: #f78548;
          }
        }
      }
    }
  }
  .slick-prev:before, .slick-next:before{
    color: red !important;
  }
}
.topTenSlide 
.slick-dots{
  bottom: -65px !important;
  li{
    &.slick-active{
      button:before{
        margin-top: 2px;
        font-size: .7rem;
        color: #f78548 !important;
      }
    }
  }
}

