@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100..900&display=swap');

/* .noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.do-hyeon-regular {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

.container{
  margin: 0 auto;
  max-width: 1140px;
}

.slick-dots{
  bottom: -45px !important;
  li{
    &.slick-active{
      button:before{
        margin-top: 2px;
        font-size: .7rem;
        color: #f78548 !important;
      }
    }
  }
}