$--color-point: #f78548;

.reviewWrap{
  padding: 60px 0;
  h3{
    font-size: 2.6rem;
    line-height: 1.6;
    font-family: "Do Hyeon", sans-serif;
  }
  .desc{
    font-size: 1rem;
  }
  .slideWrap{
    margin-top: 40px;
    .slide{
      display: flex !important;
      flex-wrap: nowrap;
      gap: 0 30px;
      .thumb{
        display: block;
        width: 40%;
        min-width: 225px;
        max-width: 360px;
        height: 185px;
        border: 1px solid #aaa;
        background-color: #dfdfdf;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .context{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 0 0;
        .textBox{
          display: flex;
          flex-direction: column;
          .reviewTitle{
            font-size: 1.3rem;
            font-weight: 500;
          }
          .grade{
            position: relative;
            padding-left: 15px;
            margin-top:10px;
            &:before{
              content: '★';
              color: rgb(241, 199, 14);
              position: absolute;
              top: 0;
              left: 0;
            }
            em.num{
              color: #aaa;
            }
          }
          .review{
            margin-top: 20px;
            line-height: 1.4;
            font-size: 1rem;
            color: #666;
          }
        }
        .reviewer{
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .profile{
            display: block;
            width: 35px;
            height: 35px;
            text-indent: -9999px;
            border-radius: 50%;
            background-color: $--color-point;
          }
          .name{
            font-size: .8rem;
          }
          .btnFollow{
            font-size: .8rem;
            color: $--color-point;
          }
        }
      }
     
    }
  }
 
}